*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* ------------------------------------------------------------------------------------*/
/* Common */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_bg_black {
    background-color: black;
}

.ms_black {
    color: black;
}

.ms_white {
    color: white;
}

.ms_weight600 {
    font-weight: 600;
}

.ms_bord_rad_50 {
    border-radius: 50px;
}

/* Fine common */
/* ------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------*/
/* Header  */

#top_navbar {
    height: 40px;
}

#top_navbar img {
    height: 15px;
}

#bot_navbar {
    height: 70px;
}

.dropdown-toggle::after {
    display: none;
}

/* Fine header  */
/* ------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------*/
/* Main  */

/* Fine main  */
/* ------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------*/
/* Footer  */

/* Fine footer  */
/* ------------------------------------------------------------------------------------*/